/** {
  border: 1px solid black;
  font-family: 'Roboto Mono', monospace;
}*/

.buttons a {
  display:inline-block;
  color: white;
  width:10%;
  margin-left:15%;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;  
  border-radius:10px;
  padding: 15px;
}
.visit {
  background-color: #FF764E;
}
.learn {
  background-color: #5ED3EB;
}
.involve {
  background-color: #FFCD69;
}
.title {
  font-family: 'Chelsea Market', cursive;
  text-align: center;
}
.leftBox {
  width:35%;
  display:inline-block;
}
.rightBox {
  width: 60%;
  display:inline-block;
  }
  header {
    padding-bottom: 20%;
    margin: 5% auto;
  }
  header p{
    font-size: 20px;
    text-align: center;
  }