* {
  border: 1px solid black;
  font-family: 'Roboto Mono', monospace;
}

.buttons a {
  display:inline-block;
  color: white;
  width:7%;
  margin-left:18%;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;  
  border-radius:10px;
  padding: 10px;
}
.visit {
  background-color: #FF764E;
}
.learn {
  background-color: #5ED3EB;
}
.involve {
  background-color: #FFCD69;
}
.title {
  font-family: 'Chelsea Market', cursive;
  text-align: center;
}
.leftBox {
  width:35%;
  display:inline-block;
  text-align: center;
  margin-left: 40px;
  margin-top: 20px;
}
.leftBox img {
  width: 50%;
  height: 50%;
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
  margin-left: 50px;
}
.rightBox {
  width: 40%;
  display:inline-block;
  }
  header {
    margin: 5% auto;
    height: 10%;
  }
  header p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 35px;
    font-weight: bold;
  }
  .sectionOne{
    background-color: #DDB9A3;
    color: white;
    text-align: center;
    padding: 0 10%;
    font-size: 18px;
    margin: 0 10%;
  }
  .campfire {
    text-align: center;
    padding: 15px;
  }
  .campfire img{
    width: 120px;
    height: 120px;
  }
  .sectionTwo {
    text-align: center;
  }
  .sectionTwo p {
    padding: 0 40%;
  }
  .bus {
    text-align: center;
    padding: 15px;
  }
  .bus img{    
    width: 120px;
    height: 120px;
  }
  .sectionThree {    
    text-align: center;
  }
  .sectionThree p {
    padding: 0 40%;
  }